
{%extends 'base.html' %}
{%load static%}
{%block body%}


<!-- main wrapper -->
<div class="main-wrapper">

<!-- breadcrumb -->
<nav class="bg-gray py-3">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{%url 'home'%}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Product Single</li>
    </ol>
  </div>
</nav>
<!-- /breadcrumb -->

<div id="quickView" class="quickview">
  <div class="row w-100">
    <div class="col-lg-6 col-md-6 mb-5 mb-md-0 pl-5 pt-4 pt-lg-0 pl-lg-0">
      <img src="images/feature/product.png" alt="product-img" class="img-fluid">
    </div>
    <div class="col-lg-5 col-md-6 text-center text-md-left align-self-center pl-5">
      <h3 class="mb-lg-2 mb-2">Woven Crop Cami</h3>
      <span class="mb-lg-4 mb-3 h5">$90.00</span>
      <p class="mb-lg-4 mb-3 text-gray">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. sed ut perspic atis unde omnis iste natus</p>
      <form action="#">
        <select class="form-control w-100 mb-2" name="color">
          <option value="brown">Brown Color</option>
          <option value="gray">Gray Color</option>
          <option value="black">Black Color</option>
        </select>
        <select class="form-control w-100 mb-3" name="size">
          <option value="small">Small Size</option>
          <option value="medium">Medium Size</option>
          <option value="large">Large Size</option>
        </select>
        <button class="btn btn-primary w-100 mb-lg-4 mb-3">add to cart</button>
      </form>
      <ul class="list-inline social-icon-alt">
        <li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="ti-twitter-alt"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="ti-vimeo-alt"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="ti-google"></i></a></li>
      </ul>
    </div>
  </div>
</div>

<!-- product-single -->
<section class="section">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-4 mb-lg-0">
        <!-- product image slider -->
        <div class="product-slider">
          <div data-image="{{detail.img1.url}}">
            <img class="img-fluid w-100 image-zoom" src="{{detail.img1.url}}" alt="product-img"
              data-zoom="{{detail.img1.url}}">
          </div>
          <div data-image="{{detail.img2.url}}">
            <img class="img-fluid w-100 image-zoom" src="{{detail.img2.url}}" alt="product-img"
              data-zoom="{{detail.img2.url}}">
          </div>
          <div data-image="{{detail.img3.url}}">
            <img class="img-fluid w-100 image-zoom" src="{{detail.img3.url}}" alt="product-img"
              data-zoom="{{detail.img3url}}">
          </div>
        </div>
      </div>
      <!-- produt details -->
      <div class="col-lg-6 mb-100">
        <h2>{{detail.name}}
          {% if request.user.is_staff%}
        <a href="{% url 'ed' detail.id %}"> <i class="ti-pencil"></i></a>
        <a href="{% url 'delete' detail.id 'Product' %}"> <i class="ti-trash"></i>
          {%endif%}
        </a>
        </h2>
        <i class="ti-check-box text-success"></i>
        <span class="text-success">Instock</span>

        <h4 class="text-primary h3">&#8377;{{detail.price}}<s class="text-color ml-2"></s></h4>
        <h6 class="mb-4"><span class="text-primary"></span></h6>
        <div class="d-flex flex-column flex-sm-row justify-content-between mb-4">
          {%if request.user.is_authenticated%}
          <form method="post" action="{% url 'cart' detail.id%}">
            {% csrf_token %}
          <input id="quantity" class="quantity mr-sm-2 mb-3 mb-sm-0" type="text" value="" name="quantity"><br>
            {% if detail.size%}
          <select class="form-control ml-sm-2 mb-3 mb-sm-0" name="size">
            {%for i in size%}
            <option class="form-control" value="{{i}}">{{i}}</option><br><br>
            {%endfor%}
          </select>
            {%endif%}
            <br><br>
          <input type="submit" class="btn btn-primary mb-4" value="add to cart">
            </form>
          {%endif%}

        </div>


        <h4 class="mb-3"><span class="text-primary">Harry up!</span></h4>
        <!-- syo-timer -->
        <div class="syotimer dark">
          <div id="sale-timer" data-year="2019" data-month="5" data-day="1" data-hour="1"></div>
        </div>
        <hr>
        <div class="payment-option border border-primary mt-5 mb-4">
          <h5 class="bg-white">Guaranted Safe Checkout</h5>
          <img class="img-fluid w-100 p-3" src="{% static 'images/payment-card/all-card.png' %}" alt="payment-card">
        </div>
        <h5 class="mb-3">4 Great Reason to Buy From Us</h5>
        <div class="row">
          <!-- service item -->
          <div class="col-lg-3 col-6 mb-4 mb-lg-0">
            <div class="d-flex">
              <i class="ti-truck icon-md mr-3"></i>
              <div class="align-items-center">
                <h6>Free Shipping</h6>
              </div>
            </div>
          </div>
          <!-- service item -->
          <div class="col-lg-3 col-6 mb-4 mb-lg-0">
            <div class="d-flex">
              <i class="ti-shield icon-md mr-3"></i>
              <div class="align-items-center">
                <h6>Secure Payment</h6>
              </div>
            </div>
          </div>
          <!-- service item -->
          <div class="col-lg-3 col-6 mb-4 mb-lg-0">
            <div class="d-flex">
              <i class="ti-money icon-md mr-3"></i>
              <div class="align-items-center">
                <h6>Lowest Price</h6>
              </div>
            </div>
          </div>
          <!-- service item -->
          <div class="col-lg-3 col-6 mb-4 mb-lg-0">
            <div class="d-flex">
              <i class="ti-reload icon-md mr-3"></i>
              <div class="align-items-center">
                <h6>30 Days Return</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <h3 class="mb-3">Product Description</h3>
        <p class="text-gray mb-4">{{detail.des}}</p>

      </div>
    </div>

  </div>

</section>
<!-- /product-single -->

<!-- testimonial -->
<section class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="mb-4">What Our Customers Think?</h3>
      </div>
      <!-- testimonial-item -->

      {% for i in ms%}
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
        <div class="d-flex">
          <div>
            <img height="100px" width="100px" class="rounded-circle mr-4" src="{{ i.u.userdetail_set.first.img.url}}" alt="customer-img">
          </div>
          <div>
            <h5><p class="text-gray">{{i.m}}</p></h5>
            <h4 class="customer-name text-dark">{{i.u.first_name}}</h4>
          </div>
        </div><br><br>
      </div>
      {%endfor%}

      <!-- testimonial-item -->

      <!-- testimonial-item -->

      </div>
    </div>
  </div>
</section><br><br>
<!-- /testimonial -->
{%if request.user.is_authenticated%}
<h2>Write Your Views</h2>
<br><br>

      <form action="{% url 'co' detail.id%}" method="post">
        {%csrf_token%}
          <div class="col-md-12">
            <textarea  id="message" class="form-control rounded-0 mb-4"  name="Comment"></textarea>
          </div>
          <div class="col-md-12">
            <button type="submit" value="send" class="btn btn-primary">Send</button>
          </div>
        </form>
{%endif%}

<!-- related products -->
  <section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="mb-4">Related Products</h2>
      </div>

      <!-- product -->
      {%for i in p %}
      {% if i.id != detail.id %}
      <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0">

        <div class="product text-center">
          <div class="product-thumb">
            <div class="overflow-hidden position-relative">
              <a href="{%url 'prod' i.id %}">

                <img class="img-fluid w-100 mb-3 img-first" src="{{i.img1.url}}" alt="product-img">
                <img class="img-fluid w-100 mb-3 img-second" src="{{i.img2.url}}" alt="product-img">
              </a>

            </div>
            <div class="product-hover-overlay">
              <a href="#" class="product-icon favorite" data-toggle="tooltip" data-placement="left" title="Wishlist"><i
                  class="ti-heart"></i></a>
              <a href="#" class="product-icon cart" data-toggle="tooltip" data-placement="left" title="Compare"><i
                  class="ti-direction-alt"></i></a>
              <a data-vbtype="inline" href="#quickView" class="product-icon view venobox" data-toggle="tooltip"
                data-placement="left" title="Quick View"><i class="ti-search"></i></a>
            </div>
          </div>
          <div class="product-info">
            <h3 class="h5"><a class="text-color" href="{%url 'prod' i.id %}">{{i.name}}</a></h3>
            <span class="h5">&#8377;{{i.price}}</span>
          </div>
          <!-- product label badge -->
          <div class="product-label sale">
            -10%
          </div>
        </div>

      </div>
      {%endif%}
      {%endfor%}
  </section>

      <!-- //end of product -->
  {%endblock%}